@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,700&display=swap');
:root{
    --dark-blue: #454d66;
    --blue-green: #309975;
    --green: #58b368;
    --dark-yellow: #dad873;
    --yellow: #fcfbe2;
    --orange: #F99417;
    --offwhite: #F5F5F5;
    --blue-one: #a5f1f3; 
    --blue-two: #22c1dd;
    --blue-test-one: #243763;
    --orange-test-one: #FF6E31;
    --yellow-test-one: #FFEBB7;
    --brown-test-one: #AD8E70;
    --background: #9EB8D9;
    --sidebar: #7C93C3;
    --header: #EEF5FF;
    --accent: #A25772; 
    --one: #FF920A;
    --two: #00AF9C;
    --three: #A072FF;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--offwhite);
    width:95%;
    height:100vh;
}

body::-webkit-scrollbar {
    display: none;
  }
  
body{
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }

.topbutton{
  align-items: center;
  background-image: linear-gradient(135deg, var(--three) 20%, var(--three));
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 34px;
  justify-content: center;
  letter-spacing: .5px;
  line-height: 1;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 2px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
}

.topbutton:active {
  outline: 0;
}

.topbutton:hover {
  outline: 0;
}

.topbutton{
  transition: all 200ms;
}

.topbutton:hover{
  transform: scale(.9);
  opacity: .75;
}

@media screen and (max-width: 991px) {
  .topbutton {
    font-size: 15px;
    height: 50px;
  }

  .topbutton span {
    line-height: 50px;
  }
}
.search{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.searchbar {
    border-radius: 10px;
    border: none;
    width: 60%;
    height: 20px;
    background-color: var(--offwhite);
    padding: 4px;
}

.searchbutton {
    border-radius: 10px;
    border: none;
    height: 20px;
    width:  20px;
    background-image: url(../Admin-Dashboard/images/imgbin_magnifying-glass-icon-search-icon-justice-elements-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--two);
    transition: all 200ms;
    padding: 0;
    margin: 0;
}
button{
    z-index: 1;
}
.searchbutton:hover{
    transform: scale(.9);
    opacity: 0.75;
}

.profileicon{
    height: 30px;
    width:30px;
    padding: 0%;
    margin: 0%;
}
.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 0.75fr 4.25fr;
    grid-template-rows: 1fr 5fr;
}

.card{
    height: 250px;
    background-color: white;
    border: 2px solid var(--one);
    border-radius: 20px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all 200ms;
}

.card > div {
    grid-row: 2/3;
    padding: 5px;
    text-align: center;
}
.header{
display: grid;
grid-template-rows: 0.5fr 1.5fr;
font-size: large;
font-weight: 400;
background-color: white;
color: var(--dark-blue);
box-shadow: inset 0px -2px 0px  var(--two);

}
.utility{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.profilebar {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
}
.interact{
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 5fr 0.1fr;
}

.sidebar {
background-color: var(--two);
grid-area: 2/1/3/2;
display: grid;
width: 1fr;
color: var(--yellow);
font-size: large;
text-align: center;
align-items: center;
}

.sidebar ul li{
    list-style-type: none;

}
.sidebar ul li:hover{
    transform: scale(1.1);
}

.logo {
    display: grid;
    grid-area:1/1/2/2;
    background-color: white;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px -2px 0px  var(--two);
}



.dashboard {
    gap:10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.content{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
    align-items: center;
    background-color: var(--offwhite);
}

.updatebar{
    display: grid;
    gap: 15px;
    
    width: 1fr;
    background-color: var(--offwhite);
    align-items: center;
    text-align: center;
}

.news, .updates {
    height: 250px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    border: solid 2px var(--three);
}
.sidebar a {
    color: var(--yellow);
}

a {
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
}

.cardimg {
    display: block;
    margin: 0 auto;
    height: 70%;
    width:70%;
    grid-row: 1/2;
}

.card:hover{
    border-color: var(--three);
    box-shadow: 2px 2px 5px var(--two);
}