@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,700&display=swap');
:root{
    --dark-blue: #454d66;
    --blue-green: #309975;
    --green: #58b368;
    --dark-yellow: #dad873;
    --yellow: #fcfbe2;
    --orange: #F99417;
    --offwhite: #F5F5F5;
    --blue-one: #a5f1f3; 
    --blue-two: #22c1dd;
    --blue-test-one: #243763;
    --orange-test-one: #FF6E31;
    --yellow-test-one: #FFEBB7;
    --brown-test-one: #AD8E70;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Alegreya', serif;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-color: var(--yellow-test-one);
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: 0.75fr 4.25fr;
    grid-template-rows: 1fr 5fr;
}

.card{
    height: 250px;
    background-color: var(--offwhite);
    border-radius: 20px;
    text-align: center;
    box-shadow: 6px 6px 6px var(--orange-test-one);
}
.header{
display: grid;
grid-template-rows: 0.5fr 1.5fr;
height: 140px;
color: var(--blue-one);
font-size: large;
font-weight: 400;
border-radius: 20px;
background-color: var(--orange-test-one);
color: var(--dark-blue);
box-shadow: 2px 2px 2px 2px var(--orange-test-one);
}
.utility{

    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.sidebar {
background-color: var(--orange-test-one);
grid-area: 2/1/3/2;
/*border: solid 1px black;*/
display: grid;
width: 1fr;
color: var(--yellow);
font-size: large;
border-radius: 20px;
text-align: center;
align-items: center;
box-shadow: 2px 2px 2px 2px var(--orange-test-one);
}

.sidebar ul li{
    list-style-type: none;
}


.logo {
    display: grid;
    grid-area:1/1/2/2;
    color: var(--yellow);
    align-items: center;
    justify-content: center;
}



.dashboard {
    gap:10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.content{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /*align-items: center;*/
    background-color: var(--yellow-test-one);
}

.updatebar{
    display: grid;
    gap: 10px;
    width: 1fr;
    background-color: var(--yellow-test-one);
    border-radius: 20px;
    text-align: center;
}

.updatebar div {
    height: 250px;
    background-color: var(--offwhite);
    border-radius: 20px;
    text-align: center;
    box-shadow: 6px 6px 6px var(--orange-test-one);
}